// **Variables**

// width of the video player and the scarf threads.
$video_width: 768px

// theme colours.
$gender-color: red

// **Styles**

body, html
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: visible

.clear
  clear: both

#main-content
  margin-top: 40px
  background-color: #ccc

#explore-view
  visibility: hidden
  position: absolute
  margin: 0px -20px -20px

.relative-view
  display: none
  min-height: 728px

#theme-video-container
  width: 80%
  margin: auto
  text-align: center

#theme-video
  width: $video_width

#watch-react-btns-container
  width: 100%

#watch-btn, #react-ui, .reaction-info
  display: none

.threads-listing, #react-ui, .threads-ui
  width: $video_width
  margin: auto

.threads-listing
  list-style: none
  margin: 0px
  padding: 0px

a.thread, a.thread > span, a.thread > span > span
  width: $video_width
  float: left

a.thread
  margin: 0px 2px
  clear: both

a.thread:focus
  outline: none

a.thread > span
  padding: 2px 0px
  height: 4px

a.thread > span > span
  height: 2px

.theme-gender a.thread > span > span
  background-color: $gender-color

