body, html
  width: 100%
  height: 100%
  /*overflow: hidden*/

#main-content
  margin-top: 40px
  background-color: #ccc

#explore-view
  visibility: hidden
  position: absolute
  margin: 0px -20px -20px

#intro-view, #watch-view, #theme-view, #interact-view
  display: none

#theme-video-container
  width: 80%
  margin: auto
  text-align: center

#theme-video
  width: 512px

#watch-btn, #react-ui
  display: none

