[submodule "third_party/emberjs"]
	path = third_party/emberjs
	url = git://github.com/emberjs/ember.js.git
[submodule "third_party/popcornjs"]
	path = third_party/popcornjs
	url = git://github.com/webmademovies/popcorn-js
[submodule "third_party/bootstrap"]
	path = third_party/bootstrap
	url = git://github.com/twitter/bootstrap.git
