<%def name="sub_title()"></%def>
<%def name="sub_headers()"></%def>
<!DOCTYPE HTML>
<html>
  <head>
    <title>
      ${settings['site_title']} / ${self.sub_title()}
    </title>
    % if not is_ajax:
      <meta name="description" content="${_(u'%(site_title)s ...' % settings)}" />
      <meta name="keywords" content="${_(u'Awra,Amba,AwraAmba,...')}" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Content-Language" content="${target_language},${','.join(remaining_languages)}" />
      <meta http-equiv="Cache-Control" content="no-cache" />
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="Fri, 01 Jan 1990 00:00:00 GMT" />
      <link rel="shortcut icon" href="/favicon.ico" />
      <link type="text/css" rel="stylesheet" href="${get_static_url('css/style.css')}" />
      ${self.sub_headers()}
    % endif
  </head>
  <body>
    ${next.body()}
    % if not is_ajax:
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', ${settings['google_analytics']}]);
        _gaq.push(['_setDomainName', '${request.host}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      <script type="text/javascript" src="/client_strings.json">
      </script>
      <script type="text/javascript" src="${get_static_url('js/client.js')}">
      </script>
    % endif
  </body>
</html>